SITE_NAME=Enyata
PORT=5000
DB_PORT=5432
# DB_PASSWORD='v2_3u4mz_9LZV4eZ8uirH3NYcTQEzJML'
# DB_USER='metikulos'
# DB_HOST='db.bit.io'
# DB_NAME='metikulos/enyata'
DB_PASSWORD='herbert@2016@'
DB_USER='herbert'
DB_HOST='localhost'
DB_NAME='enyata'
WAPI_KEY='02c00ebf6df75a924ad634533d755736'
GEO_DATA_LIMIT=1